.container-concepts {
    background-color: var(--background);
    padding-bottom: 30px;
}

.container-carousel {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-arrow {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.btn-arrow:hover {
    transform: scale(1.05);
}

.btn-img {
    width: 26px;
    height: 36px;
}

.carousel-gibi {
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 52vh;
    padding: 10px;
    width: 89%;
}

.carousel-gibi::-webkit-scrollbar {
    display: none;
}

.item {
    margin-left: 5px;
    margin-right: 5px;
    width: 390px;
    flex: none;
    
}

.title-concepts {
    color: var(--dark-blue);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
}

.carousel {
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 62vh;
    padding: 10px;
    width: 90%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.item-concepts {
    background-color: var(--opaque-green);
    margin-left: 5px;
    margin-right: 5px;
    width: 290px;
    flex: none;
    border-radius: 10px;
}

.item-title {
    color: var(--background);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.item-text {
    color: var(--background);
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}


.btn-concepts {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-concepts:hover {
    transform: scale(1.05);
}

.btn-concepts-text {
    color: var(--background);
    text-align: center;
}