.container-utilities {
    background-color: var(--background);
    height: 72vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.btn-utilities {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    background-color: var(--opaque-green);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title-utilites {
    color: var(--dark-blue);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
}


.btn-utilities:hover {
    transform: scale(1.05);
}

.btn-utilities-text {
    color: white;
    text-align: center;
    font-size: 18px;
}

h1{
    color: var(--opaque-green);
}