.container-utilities {
    background-color: gray;
    height: 76vh;
}

.btn-utilities {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #032332;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-utilities:hover {
    transform: scale(1.05);
}

.btn-utilities-text {
    color: white;
    text-align: center;
}