.container-about {
    background-color: var(--background);
    height: 76vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.btn-about {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 10%;
    border-radius: 10px;
    background-color: var(--dark-blue);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-about:hover{
    transform: scale(1.05);
    background-color: var(--light-blue);
}

.btn-about:hover {
    transform: scale(1.05);
}

.btn-about-text {
    color: white;
    text-align: center;
    font-size: 18px;
}

h1{
    color: var(--dark-green);
}

.btn-di {
    height: 35px;
    width: 5%;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-di:hover {
    transform: scale(1.02);
}

.btn-di-text {
    color: var(--dark-green);
    text-align: center;
    font-size: 18px;
}

.btn-t {
    height: 35px;
    width: 14%;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title-about {
    color: var(--dark-blue);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
}


.btn-t:hover {
    transform: scale(1.02);
}

.btn-t-text {
    color: var(--dark-green);
    text-align: center;
    font-size: 18px;
}

.btn-de {
    height: 35px;
    width: 4%;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-de:hover {
    transform: scale(1.02);
}

.btn-de-text {
    color: var(--dark-green);
    text-align: center;
    font-size: 18px;
}