*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.container {
    background-color: green;
    height: 76vh;

}

.btn {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #02341B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-text {
    color: white;
    text-align: center;
}


