.container-rights {
    background-color: var(--backgrounds);
    padding-bottom: 20px;
}

.btn-rights {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-rights:hover {
    transform: scale(1.05);
}

.btn-rights-text {
    color: white;
    text-align: center;
}

.container-carousel-rights {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-rights h1 {
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 48px;
}

.carousel {
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
    height: 455px;
    padding: 10px;
    width: 90%;
    box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.3);
    border-radius: 20px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.item-rights {
    background-color: var(--opaque-green);
    margin-left: 5px;
    margin-right: 5px;
    width: 290px;
    flex: none;
    border-radius: 10px;
}

.item-title {
    color: var(--background);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.item-text {
    color: var(--background);
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: justify;
}

.btn-arrow {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.btn-arrow:hover {
    transform: scale(1.05);
}

.btn-img {
    width: 26px;
    height: 36px;
}

@media (min-width: 1100px) {
    
    .carousel::-webkit-scrollbar {
        display: none;
        width: 0px;
        height: 0px;
    }
  
 }